<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_APP_KEY</key>
	<string>22e4701e912ad1220534187a04a2d280</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 정보 사용</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 정보 사용</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
